<h3>Categorias</h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Texto</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of categorias">
            <td> {{item.id}} </td>
            <td> {{item.titulo}} </td>
            <td> {{item.texto}} </td>
            <td> {{item.fecha | date }} </td>
            <td> {{item.estado}} </td>
        </tr>
    </tbody>
</table>